html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    text-align: center;
    position: relative;
}
.slide {
    min-height: 100%; 
    position: relative;
}
.slide a {
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -5em;
    margin-left: -3em;
}
#slide1 {
    background: LightSalmon; 
}
#slide2 {
    background: LightCoral;
}
#slide3 {
    background: DeepSkyBlue;
}
#slideEnd {
    background: black;
}
#slideEnd span {
    color: white;
    text-decoration: none;

    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -5em;
    margin-left: -3em;
}