html, body {
    height: 100%;
    margin: 0;
}

.slide {
    text-align: center;
    height: 100%;
}

/**
    The idea behind this is to use the pseudo class :before with height same as parent.
    Set it as inline-block to make it possible to use of vertical align. Next the font-size
    is set to '0' to make sure if the pseudo content don't take up any space itself.
*/
.slide:before{
    content: '';
    height: 100%;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}

/**
    Assume the :before as an element just before the slide's inner content. Now make
    vertical align to middle. This will keep the content in absolute vertical central
*/

.slide > *{
    display: inline-block;
    vertical-align: middle;
}

#slide1 {
    background: LightSalmon;
}
#slide2 {
    background: LightCoral;
}
#slide3 {
    background: DeepSkyBlue;
}
#slideEnd {
    background: black;
}

#slideEnd span {
    color: white;
    text-decoration: none;
}